<div
  class="tpl-card"
  (mouseenter)="hovered = true"
  (mouseleave)="hovered = false"
>
  <!-- IMAGE BACKGROUND -->
  <div
    class="tpl-preview"
    [style.background-image]="'url(' + template.thumbnailUrl + ')'"
  >
    <!-- DARK GRADIENT OVERLAY -->
    <div class="tpl-gradient"></div>


    <!-- HOVER OVERLAY -->
    <div class="tpl-overlay" [class.visible]="hovered">
      <button class="tpl-btn-use" (click)="use.emit(template)">
        Use Template →
      </button>
      <button class="tpl-btn-preview" (click)="onPreview($event)">
        Quick Preview
      </button>
    </div>

    <!-- BADGES -->
    <!-- <span class="tpl-pro-badge" *ngIf="template.isPremium">PRO</span> -->
    <span class="tpl-new-badge" *ngIf="isNew">NEW</span>
  </div>

  <!-- INFO -->
  <div class="tpl-info-row">
    <div>
      <p class="tpl-name">{{ template.name }}</p>
      <p class="tpl-cat">{{ template.category }}</p>
    </div>
    <span class="tpl-uses">{{ formatUses(template.usageCount) }}</span>
  </div>
</div>